<div class="row">
    <div class="col">
        <script type='text/javascript' id='clustrmaps'
            src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=300&t=m&d=N-5GiKJTiF1a937tQIRk9FwN02aABVDGWtlVJ_gn4go&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>
    </div>
</div>

<br />
<br />

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/resources/vendor/aos/aos.js"></script>
<script src="/resources/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/resources/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/resources/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/resources/vendor/isotope-layout/isotope.pkgd.min.js"></script>

<!-- Main JS File -->
<script src="/resources/javascript/main.js"></script>

<footer class="footer mt-auto py-3 bg-light" style=" box-shadow: 0 1px 10px rgba(0, 0, 0, 0.192);">
    <div class="container">
        <span class="text-muted">Copyright © 2025 <a href="mailto://biocad@innovation.ac.cn">biocad@innovation.ac.cn</a>
            |
            中國 桂林 高新技術開發區 秧塘工業園區</span>
    </div>
</footer>