
<br />

<div class="row">
    <div class="col">
        <script type='text/javascript' id='clustrmaps'
            src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=300&t=m&d=N-5GiKJTiF1a937tQIRk9FwN02aABVDGWtlVJ_gn4go&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>
    </div>
</div>

<br />

<footer class="footer mt-auto py-3 bg-light" style=" box-shadow: 0 1px 10px rgba(0, 0, 0, 0.192);">
    <div class="container">
        <span class="text-muted">Copyright © 2025 <a href="mailto://biocad@innovation.ac.cn">biocad@innovation.ac.cn</a> |
            中國 桂林</span>
    </div>
</footer>