<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="no-referrer" name="referrer" />
<meta content="#014371" name="theme-color">

<title>{$title} - biocad_registry</title>

<link href="/" rel="home" />
<link href="/resources/vendor/bootstrap-5.3.6-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="/resources/styles/page.css" type="text/css" rel="stylesheet" />
<link type="image/png" href="/logo.png" rel="shortcut icon" />
<link href="http://creativecommons.org/licenses/by/4.0/" rel="license" />

<script src="/resources/javascript/linq.min.js"></script>
<script src="/resources/vendor/jquery-3.7.1.min.js"></script>

<script src="/resources/vendor/bootstrap-5.3.6-dist/js/bootstrap.bundle.min.js"></script>
