<meta charset="utf-8">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="description" content="">
<meta name="keywords" content="">
<meta content="no-referrer" name="referrer" />
<meta content="#014371" name="theme-color">

<title>{$title} - biocad_registry</title>

<!-- Favicons -->
<link href="/logo.png" rel="icon">
<link href="/logo.png" rel="apple-touch-icon">

<!-- Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

<link href="/" rel="home" />
<link href="http://creativecommons.org/licenses/by/4.0/" rel="license" />

<script src="/resources/javascript/linq.min.js"></script>
<script src="/resources/vendor/jquery-3.7.1.min.js"></script>

<!-- Vendor CSS Files -->
<link href="/resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/resources/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/resources/vendor/aos/aos.css" rel="stylesheet">
<link href="/resources/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/resources/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

<!-- Main CSS File -->
<link href="/resources/styles/main.css" rel="stylesheet">

<!-- =======================================================
* Template Name: Strategy
* Template URL: https://bootstrapmade.com/strategy-bootstrap-agency-template/
* Updated: Jun 06 2025 with Bootstrap v5.3.6
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->

<style type="text/css">
    /* 在移动设备（屏幕宽度≤767.98px）上隐藏表单 */
    @media (max-width: 767.98px) {
        form.contact-form-wrapper {
            display: none !important;
        }
    }
</style>