<header id="header" class="header d-flex align-items-center fixed-top">
    <div
        class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.webp" alt=""> -->
            <h1 class="sitename">BioCAD Registry</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li class="dropdown"><a href="#"><span>Tools</span> <i
                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>                        
                        <li class="dropdown"><a href="#"><span>Browse Database</span> <i
                                    class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="/molecules/">Biological Molecules</a></li>
                                <li><a href="/pathways/">Pathways</a></li>
                                <li><a href="/kinetics/">Enzyme Kinetics</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Dropdown 2</a></li>
                        <li><a href="#">Dropdown 3</a></li>
                        <li><a href="#">Dropdown 4</a></li>
                    </ul>
                </li>
                <li><a href="/download/">Download</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <form class="d-flex contact-form-wrapper" role="search" method="GET" action="/search/">
            <div class="input-with-icon" style="position: relative;">
                <i class="bi bi-search" style="
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                color: white;
                font-size: 18px;
                z-index: 10;
            "></i>
                <input type="search" class="form-control" name="q" placeholder="Search" aria-label="Search" required=""
                    style="
                border-radius: 8px;
                padding: 12px 15px 12px 45px;
                height: 3.5rem;
                color: var(--default-color);
                background-color: var(--surface-color);
                font-size: 15px;
                border: 1px solid color-mix(in srgb, var(--default-color), transparent 80%);
                -webkit-appearance: none;
                -moz-appearance: none;                
                background-clip: padding-box;                
                border-radius: var(--bs-border-radius);
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            ">
            </div>
        </form>
    </div>
</header>

<br />
<br />
<br />