[submodule "php"]
	path = src
	url = https://github.com/GCModeller-Cloud/GCModeller-php.git
[submodule "framework/php.NET"]
	path = framework/php.NET
	url = https://github.com/biocad-cloud/php-dotnet.git
[submodule "framework/LINQ"]
	path = framework/LINQ
	url = https://github.com/biocad-cloud/data.ts.git
[submodule "framework/biocad_webcore"]
	path = framework/biocad_webcore
	url = https://github.com/biocad-cloud/biocad_webcore.git
