<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    ${includes/head.html}

    <style>
        .value-item {
            flex-grow: 1;
            padding-left: .7rem;
            padding-top: .1rem;
            padding-bottom: .1rem;
            border-left: .125rem solid #00a6d5;
        }

        .key-item {
            flex-grow: 1;
            text-align: left;
            padding-right: .7rem;
            padding-top: .1rem;
            padding-bottom: .1rem;
        }
    </style>
</head>

<body>
    ${includes/nav.html}
    <main class="main">

        <!-- Page Title -->
        <div class="page-title dark-background" data-aos="fade">
            <div class="container position-relative">
                <h1>Enzyme Molecule</h1>
                <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda
                    numquam molestias.</p>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li class="current">Enzyme Molecules</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Starter Section Section -->
        <section id="starter-section" class="starter-section section">

            <div class="container" data-aos="fade-up">

                <!-- Section Title -->
                <div class="container" data-aos="fade-up">

                    <div class="row">
                        <div class="col">
                            <div class="container section-title" data-aos="fade-up">
                                <h2>Enzyme Information</h2>
                                <div><span class="description-title">Enzyme - {$ec_id}</span></div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="key-item">EC Number</td>
                                                <td class="value-item">{$ec_id}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col">
                                    <h4>Description</h4>

                                    <p>{$note}
                                    </p>
                                </div>
                            </div>

                            <br />

                            <h2>Enzymatic Catalysts</h2>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Reaction Name</th>
                                        <th>Equation</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach @reaction>
                                        <tr>
                                            <td><a href='/reaction/@reaction["id"]'>@reaction["name"]</a>
                                            </td>
                                            <td>@reaction["equation"]</td>
                                            <td>@reaction["note"]</td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>

                            <h2>Gene/Proteins</h2>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Gene/Protein</th>
                                        <th>Organism</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach @protein>
                                        <tr>
                                            <td><a href='/molecule/@protein["id"]'>@protein["name"]</a>
                                            </td>
                                            <td><a href='/organism/@protein["tax_id"]'>@protein["taxname"]</a></td>
                                            <td>@protein["note"]</td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


            ${includes/disclaimer.html}
        </section>
    </main>

    ${includes/footer.html}
</body>

</html>