<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    ${includes/head.html}
</head>

<body class="index-page">
    ${includes/nav.html}
    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 content-col" data-aos="fade-up">
                        <div class="content">
                            <div class="agency-name">
                                <h5>Innovation Center</h5>
                            </div>

                            <div class="main-heading">
                                <h1>BIOCAD <br>REGISTRY</h1>
                            </div>

                            <div class="divider"></div>

                            <div class="description">
                                <p>{$intro}</p>
                            </div>

                            <div class="cta-button">
                                <a href="#services" class="btn">
                                    <span>EXPLORE KNOWLEDGEBASE</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5" data-aos="zoom-out">
                        <div class="visual-content">
                            <div class="fluid-shape">
                                <img src="/resources/images/abstract/abstract-1.webp" alt="Abstract Fluid Shape"
                                    class="fluid-img">
                            </div>

                            <div class="stats-card">
                                <div class="stats-number">
                                    <h2>{$start}</h2>
                                </div>
                                <div class="stats-label">
                                    <p>{$slogan}</p>
                                </div>
                                <div class="stats-arrow">
                                    <a href="#portfolio"><i class="bi bi-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Hero Section -->

        <!-- Services Section -->
        <section id="services" class="services section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Services</h2>
                <div><span>Explore Database</span> <span class="description-title">Services</span></div>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="service-header">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-12">
                            <div class="service-intro">
                                <h2 class="service-heading">
                                    <div>{$slogan_part1}</div>
                                    <div><span>{$slogan_part2}</span></div>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="service-summary">
                                <p>
                                    We integrate forward-thinking strategies, creative approaches, and state-of-the-art
                                    technologies to deliver exceptional customer experiences that drive growth and
                                    engage target markets.
                                </p>
                                <a href="services.html" class="service-btn">
                                    View All Services
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-card position-relative z-1">
                            <div class="service-icon">
                                <i class="bi bi-palette"></i>
                            </div>
                            <a href="/molecules/"
                                class="card-action d-flex align-items-center justify-content-center rounded-circle">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                            <h3>
                                <a href="/molecules/">
                                    Biological <span>molecules</span>
                                </a>
                            </h3>
                            <p>
                                Biological molecules are the foundation of life, enabling cellular
                                structure, energy production, and genetic inheritance. These molecules are primarily
                                composed of carbon, hydrogen, and oxygen, with additional elements like nitrogen,
                                sulfur, or phosphorus in specific cases.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-card position-relative z-1">
                            <div class="service-icon">
                                <i class="bi bi-gem"></i>
                            </div>
                            <a href="/pathways/"
                                class="card-action d-flex align-items-center justify-content-center rounded-circle">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                            <h3>
                                <a href="/pathways/">
                                    Metabolic <span>Pathways</span>
                                </a>
                            </h3>
                            <p>
                                Metabolic pathways are interconnected networks of chemical
                                reactions that sustain life by converting nutrients into energy and building blocks
                                for cellular components . These pathways are tightly regulated and categorized into two
                                main types:
                                catabolic (breaking down molecules to release energy) and anabolic (using energy
                                to synthesize complex molecules)
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-card position-relative z-1">
                            <div class="service-icon">
                                <i class="bi bi-megaphone"></i>
                            </div>
                            <a href="/kinetics/"
                                class="card-action d-flex align-items-center justify-content-center rounded-circle">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                            <h3>
                                <a href="/kinetics/">
                                    Enzyme <span>Kinetics</span>
                                </a>
                            </h3>
                            <p>
                                Enzyme kinetics is the study of the rates and mechanisms of
                                enzyme-catalyzed reactions, providing insights into how enzymes function and how
                                their activity is regulated.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <!-- Services Section -->

    </main>

    <br />

    ${includes/footer-index.html}
</body>

</html>