<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    ${includes/head.html}

    <style>
        .value-item {
            flex-grow: 1;
            padding-left: .7rem;
            padding-top: .1rem;
            padding-bottom: .1rem;
            border-left: .125rem solid #00a6d5;
        }

        .key-item {
            flex-grow: 1;
            text-align: left;
            padding-right: .7rem;
            padding-top: .1rem;
            padding-bottom: .1rem;
        }
    </style>
</head>

<body>
    ${includes/nav.html}
    <main class="container">

        <div class="row">
            <div class="col">
                <h1>{$name}</h1>
                <br />
                <div class="row">
                    <div class="col">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="key-item">Entity</td>
                                    <td class="value-item" style="color:{$color}">{$type}</td>
                                </tr>
                                <tr>
                                    <td class="key-item">Molecule</td>
                                    <td class="value-item">{$formula} [{$mass}]</td>
                                </tr>
                                <tr>
                                    <td class="key-item">Organism</td>
                                    <td class="value-item">{$organism}</td>
                                </tr>
                                <tr>
                                    <td class="key-item">Parent</td>
                                    <td class="value-item">{$parent}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br />

                <div class="bg-body-tertiary" style="padding:25px;">
                    <section class="hero-container hero-container--side-padding">
                        <h2 class="hero-container__title big">Function</h2>

                        <p>{$note}
                        </p>
                    </section>
                </div>
            </div>
        </div>

        ${includes/disclaimer.html}
    </main>
</body>

</html>