<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    ${includes/head.html}

    <style>
        .value-item {
            flex-grow: 1;
            padding-left: .7rem;
            padding-top: .1rem;
            padding-bottom: .1rem;
            border-left: .125rem solid #00a6d5;
        }

        .key-item {
            flex-grow: 1;
            text-align: left;
            padding-right: .7rem;
            padding-top: .1rem;
            padding-bottom: .1rem;
        }
    </style>
</head>

<body>
    ${includes/nav.html}
    <main class="container">

        <div class="row">
            <div class="col">
                <h1>{$name}</h1>
                <br />
                <div class="row">
                    <div class="col">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="key-item">Entity</td>
                                    <td class="value-item" style="color:{$color}">{$type}</td>
                                </tr>
                                <tr>
                                    <td class="key-item">Molecule</td>
                                    <td class="value-item">{$formula} [{$mass}]</td>
                                </tr>
                                <tr>
                                    <td class="key-item">Organism</td>
                                    <td class="value-item">{$organism}</td>
                                </tr>
                                <tr>
                                    <td class="key-item">Parent</td>
                                    <td class="value-item">{$parent}</td>
                                </tr>
                                <tr>
                                    <td class="key-item">Tags</td>
                                    <td class="value-item">
                                        <details>
                                            <summary></summary>
                                            <foreach @tags>
                                                <a href='/tag/@tags["id"]'> <span
                                                        class="badge text-bg-primary">@tags["term"]</span></a>
                                            </foreach>
                                        </details>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br />


                <details>
                    <summary></summary>
                    <div class="bg-body-tertiary" style="padding:25px;">
                        <section class="hero-container hero-container--side-padding">
                            <h2 class="hero-container__title big">Function</h2>

                            <p>{$note}
                            </p>
                        </section>
                    </div>
                </details>

                <br />

                <foreach @synonym>
                    <h4>Synonym Names [@synonym["lang"]]</h4>
                    <p>@synonym["names"]</p>
                </foreach>

                <div style="display: {$odor_display};">
                    <h2>Odor Information</h2>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Odors</th>
                            </tr>
                        </thead>
                        <tbody>
                            <foreach @odor>
                                <tr>
                                    <td>@odor["term"]</td>
                                    <td>@odor["odor"]</td>
                                </tr>
                            </foreach>
                        </tbody>
                    </table>
                </div>

                <h2>Metabolic Network</h2>

                <div class="row">
                    <div class="col">
                        <p>Subcellular Location:
                            <foreach @subcellular>
                                <a href='/subcellular/@subcellular["id"]'> <span
                                        class="badge text-bg-primary">@subcellular["name"]</span></a>
                            </foreach>
                        </p>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Reaction Name</th>
                            <th>Enzymes</th>
                            <th>Equation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <foreach @reaction>
                            <tr>
                                <td><a href='/reaction/@reaction["id"]'>@reaction["name"]</a><br />
                                    <p class="text-truncate d-inline-block" style="max-width: 500px;">@reaction["note"]
                                    </p>
                                </td>
                                <td>@reaction["enzyme"]</td>
                                <td>@reaction["equation"]</td>
                            </tr>
                        </foreach>
                    </tbody>
                </table>

                <h2>Database CrossReference</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Database Name</th>
                            <th>Xref IDs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <foreach @db_xref>
                            <tr>
                                <td>@db_xref["db"]
                                </td>
                                <td>@db_xref["xref"]</td>
                            </tr>
                        </foreach>
                    </tbody>
                </table>

                <h2>Related Molecules</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Molecules</th>
                            <th>Taxonomy</th>
                            <th>Function</th>
                        </tr>
                    </thead>
                    <tbody>
                        <foreach @relates>
                            <tr>
                                <td><a href='/molecule/@relates["id"]'>@relates["name"]</a> </td>
                                <td> <a href='/organism/@relates["tax_id"]'>@relates["taxname"]</a> </td>
                                <td>@relates["note"]</td>
                            </tr>
                        </foreach>
                    </tbody>
                </table>

                <h2>Ontology Information</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Ontology Source</th>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <foreach @ontology>
                            <tr>
                                <td>@ontology["db_source"]</td>
                                <td><a href='/ontology/@ontology["id"]'>@ontology["db_xref"]</a></td>
                                <td>@ontology["name"]</td>
                            </tr>
                        </foreach>
                    </tbody>
                </table>

            </div>
        </div>

        ${includes/disclaimer.html}
    </main>

    ${includes/footer.html}
</body>

</html>