<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    ${includes/head.html}

    <style>
        .value-item {
            flex-grow: 1;
            padding-left: .7rem;
            padding-top: .1rem;
            padding-bottom: .1rem;
            border-left: .125rem solid #00a6d5;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Fixed navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <main class="container">

        <div class="row">
            <div class="col">
                <h1>{$name}</h1>

                <div class="row">
                    <div class="col">
                        Entity <span class="value-item">{$type}</span> <br />
                        Molecule <span class="value-item">{$formula} [{$mass}]</span>
                        Organism <span class="value-item">{$organism}</span>
                        Parent <span class="value-item">{$parent}</span>
                    </div>
                </div>

                <div class="bg-body-tertiary" style="padding:25px;">
                    <section class="hero-container hero-container--side-padding">
                        <h2 class="hero-container__title big">Function</h2>

                        <p>{$note}
                        </p>
                    </section>
                </div>
            </div>
        </div>

        <div class="bg-body-tertiary" style="padding:25px;">
            <section class="hero-container hero-container--side-padding">
                <h2 class="hero-container__title big">Disclaimer</h2>

                <p><em>Any medical or genetic information present in
                        this entry is provided for research, educational and informational purposes only. It is not in
                        any
                        way intended to be used as a substitute for professional medical advice, diagnosis, treatment or
                        care. Our staff consists of biologists and biochemists that are not trained to give medical
                        advice.</em>
                </p>
            </section>
        </div>
    </main>
</body>

</html>