<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    ${includes/head.html}

    <style>
        .value-item {
            flex-grow: 1;
            padding-left: .7rem;
            padding-top: .1rem;
            padding-bottom: .1rem;
            border-left: .125rem solid #00a6d5;
        }

        .key-item {
            flex-grow: 1;
            text-align: left;
            padding-right: .7rem;
            padding-top: .1rem;
            padding-bottom: .1rem;
        }
    </style>
</head>

<body>
    ${includes/nav.html}
    <main class="main">

        <!-- Page Title -->
        <div class="page-title dark-background" data-aos="fade">
            <div class="container position-relative">
                <h1>Conserved Operon Cluster</h1>
                <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda
                    numquam molestias.</p>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li class="current">Operon</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- End Page Title -->

        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="container section-title" data-aos="fade-up">
                        <h2>Operon - {$name}</h2>
                        <div><span class="description-title">{$description}</span></div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="key-item">External ID</td>
                                        <td class="value-item">{$db_xref}</td>
                                    </tr>
                                    <tr>
                                        <td class="key-item">Taxonomy Source</td>
                                        <td class="value-item"><a href="/organism/{$tax_id}/">{$taxname}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br />

                    <div class="bg-body-tertiary" style="padding:25px;">
                        <section class="hero-container hero-container--side-padding">
                            <h2 class="hero-container__title big">Description</h2>

                            <p>{$description}
                            </p>
                        </section>
                    </div>

                    <br />

                    <h2>Cluster Genes</h2>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Gene Name</th>                                
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <foreach @genes>
                                <tr>
                                    <td><a href='/molecule/@genes["gene_id"]'>@genes["name"]</a>
                                    </td>                                    
                                    <td>@genes["note"]</td>
                                </tr>
                            </foreach>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        ${includes/disclaimer.html}
    </main>

    ${includes/footer.html}
</body>

</html>