<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    ${includes/head.html}
</head>

<body>
    ${includes/nav.html}
    <main class="container">

        <div class="row">
            <div class="col">

                <h1>Biological Pathways</h1>                

                <table class="table">
                    <thead style="background-color: blue; color:aliceblue;">
                        <tr>
                            <th>
                                Pathway Name
                            </th>               
                            <th>
                                Molecules
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <foreach @page>
                            <tr>
                                <td><strong><a href='/pathway/@page["xref_id"]/' class="text-truncate d-inline-block"
                                            style="max-width: 350px;">@page["name"]</a></strong></td>                                
                                
                                <td>@page["molecules"]</td>
                                <td>@page["note"]</td>
                            </tr>
                        </foreach>
                    </tbody>
                </table>            
            </div>
        </div>
    </main>

    ${includes/footer.html}
</body>

</html>