<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    ${includes/head.html}
</head>

<body>
    ${includes/nav.html}
    <main class="main">

        <!-- Page Title -->
        <div class="page-title dark-background" data-aos="fade">
            <div class="container position-relative">
                <h1>{$title}</h1>
                <p>Make registry term data search.</p>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li class="current">Search</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <!-- Starter Section Section -->
        <section id="starter-section" class="starter-section section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Search Result</h2>
                <div><span class="description-title">Show Result</span></div>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col">




                        <h2>Molecules Search</h2>

                        <table class="table">
                            <thead style="background-color: blue; color:aliceblue;">
                                <tr>
                                    <th>
                                        Common Name
                                    </th>
                                    <th>
                                        Tags
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach @mol>
                                    <tr>
                                        <td><strong><a href='/molecule/@mol["id"]/' class="text-truncate d-inline-block"
                                                    style="max-width: 350px;">@mol["name"]</a></strong><br />@mol["type"]<br />@mol["formula"]
                                            (@mol["mass"])</td>
                                        <td>@mol["tags"]</td>
                                        <td>@mol["note"]</td>
                                    </tr>
                                </foreach>
                            </tbody>
                        </table>

                        <h2>Reaction Search</h2>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Reaction Name</th>
                                    <th>Equation</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach @rxn>
                                    <tr>
                                        <td><a href='/reaction/@rxn["id"]'>@rxn["name"]</a>
                                        </td>
                                        <td>@rxn["equation"]</td>
                                        <td>@rxn["note"]</td>
                                    </tr>
                                </foreach>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </section><!-- /Starter Section Section -->

    </main>

    ${includes/footer.html}
</body>

</html>