<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    ${../includes/head.html}
</head>

<body>
    ${../includes/nav.html}

    <main class="container">

        <div class="row">
            <div class="col">

                <h1>405 Method not allowed!</h1>

                <p>The request method is known by the server but is not supported by the target resource.</p>
                <p>{$message}</p>

            </div>
        </div>
    </main>

    ${../includes/footer.html}
</body>

</html>