<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    ${../includes/head.html}
</head>

<body>
    ${../includes/nav.html}

    <main class="container">

        <div class="row">
            <div class="col">

                <h1>500 Internal Server Error!</h1>

                <p>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
                <p>
                    {$message}
                </p>

            </div>
        </div>
    </main>

    ${../includes/footer.html}
</body>

</html>